<!doctype html>
<html ng-app="clara">
  <head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.5/css/foundation.min.css">
    <title>Clara Beyer: Web Developer</title>
  </head>

  <body ng-controller="DirectoryController as directory">
    <div class="row">
      <!-- header / info -->
      <p>the impressive works of</p>
      <h1>Clara Beyer</h1>
    </div>

    <div class="row" id="projects">
      <!-- projects/works/etc -->

      <div ng-repeat="site in directory.links">
        <div ng-show="directory.checkId(site.id)">
          <h3><a href={{site.url}}>{{site.name}}</a></h3>
          <p>{{site.description}}</p>
          <p ng-click="directory.setId(undefined)">close</p>
        </div>
      </div>

      <!-- the grid -->
      <div class="small-3 medium-2 columns end" ng-repeat="site in directory.links">
        <img ng-click="directory.setId(site.id)" ng-src={{site.images[0]}} alt={{site.name}} />
      </div>

    </div>

    <div class="row">
      <!-- education / history -->
    </div>

    <div class="row">
      <!-- contact info -->
    </div>

  </body>
</html>
